@import "styles/media.scss";

.root {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: auto;
  margin: 10px 0;

  @include hover {
    &:hover button {
      opacity: 1;
    }
  }
}

.task {
  width: 500px;
  word-break: break-all;

  @include media(md) {
    width: 470px;
  }

  @include media(sm) {
    width: 230px;
  }
}

.completed {
  width: fit-content;
  text-decoration: line-through;
}
