@import "styles/media.scss";
.root {
  width: auto;
  height: auto;
  margin-bottom: 50px;
}

.filter {
  position: relative;
  display: flex;
  justify-content: space-between;

  width: 550px;
  margin-top: 50px;

  color: #969696;
  align-items: center;

  @include media(sm) {
    flex-direction: column;
    width: 300px;
  }
}

.count {
  width: 45%;
}

.button {
  display: flex;
  justify-content: space-between;

  width: 100%;
}
