@use 'sass:map';
$breakpoints: (
  lg: 1199,
  d: 991,
  md: 1023,
  sm: 575,
) !default;


$media-direction: max !default;

@function getMediaSize($direction, $screen) {
  @if ($direction == min) {
    @return map.get($breakpoints,  $screen) - 1;
  }

  @return map.get($breakpoints,  $screen);
}

@mixin media($screen, $direction: max) {
  @media (#{$direction}-width: getMediaSize($breakpoints,  $screen) + 'px') {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}